/**
 * task0001综合任务中所包含页面的样式
 *
 * @author Jimmie Hwang
 * @create 2016/4/15
 *
 */



/*reset*/
* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 980px;
  font-family: Arial, "Microsoft YaHei", "SimSun",  sans-serif;
  background-color: #eee;
}

li { list-style: none; }

a { text-decoration: none; }

img { border: none; }



/*common*/
.mid {
  margin: 0 auto;
  width: 980px;
}

.fl { float: left; }

.fr { float: right; }

.under { text-decoration: underline; }


a:hover { text-decoration: underline; }

.mar-r { margin-right: 0 !important; }


header {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: #522A5C;
}
  header .mid {
    position: relative;
    height: 70px;
  }
    header h1 {
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 32px;
      color: #fff;
    }

    header nav {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 0;
    }
      header nav a, footer nav a{
        font-family: "SimSun";
        font-size: 14px;
        padding-left: 28px;
        color: #fff;
      }

  header .github {
    position: absolute;
    bottom: 0;
    right: 10px;
    line-height: 0;
  }

  @media screen and (max-width: 980px) {
    .github {
      display: none;
    }
  }


footer {
  position: relative;
  width: 100%;
  height: 395px;
  background-color: #000;
}
  footer nav {
    height: 35px;
    border-bottom: 1px solid #333;
    font-size: 0;
    text-align: center;
    line-height: 35px;
  }
    footer a {
      font-size: 14px;
      color: #fff;
    }

  footer dl {
    float: left;
    margin-top: 40px;
    margin-right: 116px;
  }
    footer dt {
      padding-bottom: 31px;
      color: #ccc;
    }
      dt a {
        padding-bottom: 12px;
        color: #ccc;
      }

  footer p {
    position: absolute;
    bottom: 50px;
    left: 49%;
    text-align: center;
    color: #fff;
  }

  footer img {
    position: absolute;
    bottom: 0;
    left: 50%;
   }



/*home*/
#home .banner {
  width: 100%;
  height: 525px;
  background: url(../img/banner-bg.jpg) no-repeat;
  background-size: 100% 100%;
}
  #home .banner .mid {
    position: relative;
    height: 100%;
  }
    #home .banner .content {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 10px 10px 30px 10px;
      width: 340px;
      height: 80px;
      font-size: 12px;
      text-indent: 2em;
      color: #fff;
      background: -webkit-linear-gradient(top, rgba(255,255,255,0.4)0%, rgba(255,255,255,0.2)75%, rgba(255,255,255,0)98%);
      background: -o-linear-gradient(bottom, rgba(255,255,255,0.4)0%, rgba(255,255,255,0.2)75%, rgba(255,255,255,0)98%);
      background: -moz-linear-gradient(bottom, rgba(255,255,255,0.4)0%, rgba(255,255,255,0.2)75%, rgba(255,255,255,0)98%);
      background: linear-gradient(to bottom, rgba(255,255,255,0.4)0%, rgba(255,255,255,0.2)75%, rgba(255,255,255,0)98%); /* 标准的语法（必须放在最后） */
    }
      .banner .content h2 {
        margin-bottom: 12px;
        font-size: 14px;
        font-weight: 400;
        text-align: right;
      }

      .banner .content p {
        line-height: 150%;
      }


#home .contain .txt {
  margin-top: 10px;
  margin-right: 10px;
  padding-bottom: 25px;
  width: 320px;
  min-height: 370px;
  background-color: #fff;
}
  #home .contain img {
    margin: 10px 10px 15px 10px;
    width: 300px;
    height: 180px;
  }

  #home .contain p {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 12px;
    line-height: 170%;
    text-indent: 2em;
  }

#home .introduce {
  margin-top: 108px;
  width: 100%;
  height: 520px;
  text-align: center;
  background-color: #fff;
}
  #home .introduce .head {
    position: relative;
    top: -55px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
  }

  #home .introduce h2 {
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Century Gothic", sans-serif;
  }

  #home .introduce p {
    margin: 0 auto;
    width: 600px;
    font-size: 14px;
    text-align: left;
    text-indent: 2em;
    line-height: 170%;
  }
