/**
 * task0001下的任务6.5
 *
 * 实现一个浮动布局，红色容器中每一行的蓝色容器数量随着浏览器宽度的变化而变化
 *
 * @author Jimmie Hwang
 * @create 2016/4/15
 *
 */
* {
  margin: 0;
  padding: 0;
}

body { background-color: red; }

  div {
    float: left;
    margin: 10px;
    width: 80px;
    height: 80px;
    background-color: blue;
  }
